body {
    font-family: Arial, sans-serif;
    background :url('https://images.rawpixel.com/image_social_landscape/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjU0NmJhdGNoMy1teW50LTM0LWJhZGdld2F0ZXJjb2xvcl8xLmpwZw.jpg') no-repeat center center fixed;
   background-size: cover;
    
    background-color: #f4f4f4;
}

header {
    background: #333;
    color: white;
    /* padding: 20px; */
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#hero {
    background: #9e8b65;
    color: white;
    text-align: center;
    padding: 20px;
}

section {
    padding:20px;
    text-align: center;
}

#projects .project {
    background: white;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(210, 112, 112, 0.792);
    max-width: 600px;
}


